<%= error_messages_for 'shelter' %>

<!--[form:person]-->
<table>
<tr>
	<th class="vertical"> Name </th>
	<td><%= text_field 'shelter', 'name' %></td>
</tr>

<tr>
	<th class="vertical">Address ID</th>
	<td><%= text_field 'shelter', 'address_id' %></td>
</tr>
</table>
<!--[eoform:person]-->
