<% # This file is part of the SafeList shelter management software. -%>
<% # Copyright 2005, Rackspace Managed Hosting -%>
<h2>Add a Shelter </h2>

<%= start_form_tag :action => 'create' %>
  <%= render_partial 'form' %>
  <%= submit_tag "Save" %>
<%= end_form_tag %>

<%= link_to 'Shelter List', {:action => 'list'}, :class => 'textbutton'  %>
