<% for column in BadgeStatus.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @badge_status.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @badge_status %> |
<%= link_to 'Back', :action => 'list' %>
