You are logged in as <%= session[:user].login %>
<br/>
<br/>
<br/>
Your shelter id should be <%= session[:user].shelter_id %> which is <%= session[:user].shelter.name %>
<br/>
<br/>
<br/>
Shelter id is set to <%= session[:shelter_id] %>
