<div class="header">
<%= link_to 'People List', {:action => 'list'}, :class => 'textbutton'  %>
<%= link_to 'Show Person', {:action => 'show', :id => @person}, :class => 'textbutton'  %>
</div>

<h2>Edit Person</h2>

<%= start_form_tag :action => 'update', :id => @person%>
  <%= render_partial 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>


