<div class="header">
<%= link_to 'People List', {:action => 'list'}, :class => 'textbutton'  %>
</div>

<h2>New Citizen</h2>

<%= start_form_tag :action => 'create'%>
  <%= render_partial 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

