
<!--[form:person]-->
<table>
<tr>
    <th class="vertical">Name:</th>
    <td><input type="text" name="search_string" 
               value="<%= @params['search_string'] %>">
    </td>
</tr>
</table>
<!--[eoform:person]-->
