<center>
<h2>Search for Missing Persons</h2>

<%= start_form_tag :action => "search" %>

<table style="background: #ddDDdd">
<tr>
	<td> <%= render_partial 'form' %> </td>
</tr>
<tr>
	<td align="center">
	<input type="submit" value="Search" name="next"></td>
</tr>
</table>
</center>

<%= end_form_tag %>
