<div class="header">
<%= link_to 'Home', '/', :class => 'textbutton'  %>
</div>

<h2>Search for Missing Persons</h2>

<%= start_form_tag :action => "search" %>

<table>
<tr>
	<td> <%= render_partial 'form' %> </td>
</tr>
<tr>
	<td align="right">
	<input type="submit" value="Search" name="next"></td>
</tr>
</table>

<%= end_form_tag %>
