<%= error_messages_for 'family' %>

<!--[form:family]-->
<table>
<tr>
	<th class="horizontal">Disclosure consent</th>
	<td><%= check_box 'family','disclosure_consent' %></td>
</tr>
</table>

<!--[eoform:family]-->

