<% # This file is part of the SafeList shelter management software. -%>
<% # Copyright 2005, Rackspace Managed Hosting -%>
<%= error_messages_for 'family' %>

<!--[form:family]-->
<table>
<tr>
	<th class="vertical">Disclosure Consent</th>
	<td><%= check_box 'family','disclosure_consent' %> 
	I authorize the release of information concerning<br> the whereabouts 
	or general condition of all family members.</td>
</tr>
</table>

<!--[eoform:family]-->

