<div class="header">
<%= link_to 'Family List', {:action => 'list'}, :class => 'textbutton'  %>
<%= link_to 'View Family', {:action => 'show', :id => @family}, :class => 'textbutton'  %></div>

<h2>Edit Family</h2>

<%= start_form_tag :action => 'update', :id => @family %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>
