<div class="header">
<%= link_to 'Family List', {:action => 'list'}, :class => 'textbutton'  %>
</div>

<h2>Add a Family</h2>

<%= start_form_tag :action => 'create' %>
  <%= render_partial 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>


