<div class="header">
<%= link_to 'Family View', {:action => 'show', :id => @family.id}, :class => 'textbutton'  %>
</div>

<h2>New Family Member</h2>

<%= start_form_tag :action => 'addmember'%>
  <%= render_partial 'peopleform' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

