<div class="header">
<%= link_to 'Family View', {:action => 'show', :id => @family.id}, :class => 'textbutton'  %>
</div>

<h2>Add a Family</h2>

<h3>Family's Pre-disaster Address & Consent</h3>
<%= start_form_tag :action => 'create', :id => @family.id%>
  <%= render :partial => 'addressform' %>
  <%= render :partial => 'familyform' %>
  <br>
  <%= submit_tag 'Next' %>
<%= end_form_tag %>

