<div class="header">
<%= link_to 'Family List', {:action => 'list'}, :class => 'textbutton'  %>
<%= link_to 'Edit Family', {:action => 'edit', :id => @family}, :class => 'textbutton'  %> |

</div>

<h2> Family List </h2>

<table>
<tr>
	<th>#</th>
	<th>Name</th>
	<th>Disclose</th>
	<th>Shelter arrival on</th>
	<th>Shelter departure at</th>
</tr>
  	  	

</table>
<% for family in Families %>
<p>
  <b><%= @family.name %>:</b>
</p>
<% end %>


