<% for column in Family.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @family.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @family %> |
<%= link_to 'Back', :action => 'list' %>
