	body {
	margin: 0px;
	padding: 6px;
	border-top: 6px solid #4A4D4A;
	border-bottom: 4px solid #528AC6;	
	font-family: verdana,arial,sans-serif;	
}

	body.rsvp {
	margin: 0em;
	padding: 1em;
	border-top: 6px solid #4A4D4A;
	border-bottom: 4px solid #528AC6;	
	font-family: verdana,arial,sans-serif;	
}
	
	#leftcontent {
	background: #FFFFFF;
	border: 1px dotted #8B0000;
	left: 4px;
	position: absolute;
	top: 78px;
	width: 200px;
}

	#centercontent {
	background: #FFFFFF;
	border: 0px dotted #8B0000; /*
		IE5x PC mis-implements the box model. Because of that we sometimes have
		to perform a little CSS trickery to get pixel-perfect display across browsers.
		The following bit of code was proposed by Tantek Celik, and it preys upon a CSS
		parsing bug in IE5x PC that will prematurly close a style rule when it runs
		into the string "\"}\"". After that string appears in a rule, then, we can override
		previously set attribute values and only browsers without the parse bug will
		recognize the new values. So any of the name-value pairs above this comment
		that we need to override for browsers with correct box-model implementations
		will be listed below.
		We use the voice-family property because it is likely to be used very infrequently,
		and where it is used it will be set on the body tag. So the second voice-family value 
		of "inherit" will override our bogus "\";
		margin-left: 199px;
		margin-right: 199px;
}
\"" value and allow the proper value to
		cascade down from the body tag.
		The style rule immediately following this rule offers another chance for CSS2
		aware browsers to pick up the values meant for correct box-model implementations.
		It uses a CSS2 selector that will be ignored by IE5x PC.
		
		Read more at http://www.glish.com/css/hacks.asp
		*/
		
		voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 205px;
   		margin-right:6px;
		}

	html>body #centercontent {
	margin-left: 205px;
	margin-right: 6px;
}

	#rightcontent {
	background: #fff;
	border: 1px dotted #8B0000;
	position: absolute;
	right: 4px;
	top: 78px;
	width: 200px;
}
	
	#header {
	border: 1px solid #B0B3B0;
	border-bottom: 2px solid #528AC6; 
	margin: 4px 4px 0px 4px;
	height: 30px;
	voice-family: inherit;
	background-image: url(../images/bg_30_silver.png);
	background-repeat: repeat-x;
	background-position: bottom;
	voice-family: "\"}\"";
}

	html>body #header {
	height: 30px;
}

	#navigation {
	background: #FFFFFF;
	border: 1px solid #B0B3B0;
	margin: 0px 4px 0px 4px;
	padding: 3px 0px 2px 2px;
	height: 24px;
	voice-family: inherit;
	voice-family: "\"}\"";
}

	html>body #navigation {
	height: 24px;
}
		
	#footer {
	background: #4A4D4A;
	margin: 0px 4px 0px 4px;	
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;	
	color: #B0B3B0;
	height: 24px;
	height: 24px;
	voice-family: inherit;
	voice-family: "\";}\"";
}

	html>body #footer {
	height: 22px;
	font-size: 0.75em;
}

#subnav {
	background: #FFFFFF;
	left: 6px;
	position: absolute;
	top: 94px;
	width: auto;
}

a:link {
	color: #000080;
	text-decoration: none;
}

a:link.nav {
	color: #4A4D4A;
}

a:visited {
	color: #3366CC;
}

a:visited.nav {
	color: #4A4D4A;
}

a:hover {
	color: #2F4F4F;
	text-decoration: underline;
}

a:hover.nav {
	color: #CC9933;
}

/*
 * Text Button
 */
a.textbutton {
	background-image: url(../images/bg_20_green_light.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #6EB83C;
	color: #464646;
	font: 10pt Verdana,sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 22px;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	white-space: nowrap;
}

a.textbutton:link {
	color: #464646;
	text-decoration: none;
}

a.textbutton:visited {
	color: #464646;
	text-decoration: none;
}

a.textbutton:hover {
	background-image: url(../images/bg_20_green.png);
	background-repeat: repeat-x;
	color: #4A4D4A;
	text-decoration: none;
}

a.textbutton:active {
	color: #4A4D4A;
	text-decoration: none;
}

/* Highlighted Version */
a.textbutton_hi {
	background-image: url(../images/bg_20_green.png);
	background-repeat: repeat-x;
	border: 1px solid #6EB83C;
	color: #595959;
	font-family: "MS Sans Serif", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 4.2ex;
	margin: 0.3ex;
	padding: 2px;
	text-decoration: none;
	white-space: nowrap;
}

a.textbutton_hi:link {
	color: #2F4F4F;
	text-decoration: none;
}

a.textbutton_hi:visited {
	color: #2F4F4F;
	text-decoration: none;
}

a.textbutton_hi:hover {
	background-image: url(../images/bg_20_green_light.png);
	background-repeat: repeat-x;
	color: #2F4F4F;
	text-decoration: none;
}

a.textbutton_hi:active {
	color: #2F4F4F;
	text-decoration: none;
}

a.textbuttonwarn {
	background-image: url(../images/bg_20_red_light.png);
	background-repeat: repeat-x;
	border: 1px solid #C85064;
	color: #2F4F4F;
	font: 10pt Verdana,sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 22px;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	white-space: nowrap;
}

a.textbuttonwarn:link {
	color: #2F4F4F;
	text-decoration: none;
}

a.textbuttonwarn:visited {
	color: #2F4F4F;
	text-decoration: none;
}

a.textbuttonwarn:hover {
	background-image: url(../images/bg_20_red.png);
	background-repeat: repeat-x;
	border: 1px solid #D49744;
	color: #2F4F4F;
	text-decoration: none;
}

a.textbuttonwarn:active {
	color: #2F4F4F;
	text-decoration: none;
}

br {
	line-height: 0.9em;
}
div.confirm {
	background-color: #A5D783;
	border-color: #6EB83C;
	border-style: solid;
	border-width: 1px;
	color: #636763;
	font-family: verdana,arial,sans-serif;
	padding: 2px;
	width: auto;
}

div.errormsg {
	background-color: #E09EA9;
	border-color: #C85064;
	border-style: solid;
	border-width: 1px;
	color: #636763;
	font-family: verdana,arial,sans-serif;
	padding: 2px;
	width: auto;	
}

div.title {
	color: #528AC6;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.2em;
}

div.header {
	background-image: url(../images/bg_30_silver.png);
	background-repeat: repeat-x;
	color: #4A4D4A;
	border: 1px solid #B0B3B0;
	padding: 2px;
	width: auto;
}

div.window {
	border-color: #D0D0D0;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	width: auto;
}

h1 {
	color: #528AC6;
	font-family: verdana,arial,sans-serif;
	font-size: 2em;
	margin-top: 1em;
}

h2 {
	color: #528AC6;
	font-family: verdana,arial,sans-serif;
	font-size: 1.2em;
	padding: 0px;
	letter-spacing: -1px;
	text-transform: capitalize;
	border-bottom: 2px solid #528AC6; 
	width: 440px;
	white-space: nowrap;
}

h3 {
	color: #333333;
	font-family: verdana,arial,sans-serif;
	font-size: 12pt;
}

hr {
	color: #CAD0D0;
	height: 3px;
	width: 100%;
}

img {
	border: 0px;
}

input {
	background: #F5F5F5;
	border: 1px solid #B0B3B0;
	color: #4A4D4A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0px;
	padding: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}

input:focus {
	background: #FFFFFF;
	text-decoration: none;
}
input[type=button] {
	background-image: url(../images/bg_20_green_light.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #6EB83C;
	color: #4A4D4A;
	font-family: "MS Sans Serif", Arial, sans-serif;
	font-size: 0.8em;
	line-height: 22px;
	margin: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	white-space: nowrap;
}
input[type=button]:link {
	color: #4A4D4A;
	text-decoration: none;
}

input[type=button]:visited {
	color: #4A4D4A;
	text-decoration: none;
}

input[type=button]:hover {
	background-image: url(../images/bg_20_green.png);
	background-repeat: repeat-x;
	color: #4A4D4A;
	text-decoration: none;
}

input[type=button]:active {
	color: #FFFFFF;
	text-decoration: none;
}

input[type=submit] {
	background-image: url(../images/bg_20_green_light.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #6EB83C;
	color: #4A4D4A;
	font-family: "MS Sans Serif", Arial, sans-serif;
	font-size: 0.8em;
	line-height: 22px;
	margin: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	white-space: nowrap;
}

input[type=submit]:link {
	color: #4A4D4A;
	text-decoration: none;
}

input[type=submit]:visited {
	color: #4A4D4A;
	text-decoration: none;
}

input[type=submit]:hover {
	background-image: url(../images/bg_20_green.png);
	background-repeat: repeat-x;
	color: #4A4D4A;
	text-decoration: none;
}

input[type=submit]:active {
	color: #FFFFFF;
	text-decoration: none;
}

p,
li {
	color: #4A4D4A;
	font-family: verdana,arial,sans-serif;
	font-size: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.25em;
	margin-left: 0.2em;
}

select {
	background: #F5F5F5;
	border: 1px solid #B0B3B0;
	color: #4A4D4A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px;
	padding: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}

select:focus {
	background: #FFFFFF;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-color: #B0B3B0;
	border-spacing: 0px;
	border-style: solid;
	border-width: 1px;
	empty-cells: show;
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.notetitle {
	background-color: #D4D044;
	border: 1px solid #D4D044;
}

.note {
	background-color: #E7E597;
	border: 1px solid #D4D044;
}

textarea {
	background: #F5F5F5;
	border: 1px solid #B0B3B0;
	color: #4A4D4A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 1px;
	padding: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}

textarea:focus {
	background: #FFFFFF;
	text-decoration: none;
}

th {
	background-image: url(../images/bg_20_silver.png);
	background-repeat: repeat-x;
	background-position: bottom;	
	color: #4A4D4A;
	border: 1px solid #B0B3B0;
	font-family: verdana,arial,sans-serif;	
	padding-right: 0.5em;
	padding-left: 0.5em;
	height: 0.9em;
	text-align: left;
	vertical-align: top;
}

th.horizontal {
	color: #636763;
	font-family: verdana,arial,sans-serif;
	border-bottom: 2px solid #528AC6; 
}
th.vertical {
	color: #636763;
	font-family: verdana,arial,sans-serif;
	border-right: 2px solid #528AC6; 
}

th.vertical {
	color: #636763;
	font-family: verdana,arial,sans-serif;
}

th.counter {
	background-image: url(../images/bg_20_blue_light.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #528AC6;
	color: #5452C6;
	border-spacing: 1px;
	padding: 2px;
	vertical-align: middle;
	text-align: center;
}

th.errormsg {
	background-color: #E1ACBE;
	border-color: #8E3353;
	border-style: solid;
	border-width: 1px;
	color: #8E3353;
	font-family: verdana,arial,sans-serif;
	font-weight: bold;
	padding: 2px;
	width: auto;
}

th.subhead {
	background-image: url(../images/bg_20_blue.png);
	background-repeat: repeat-x;
	color: #636763;
	border: 1px solid #528AC6;
	text-align: left;
	font-family: verdana,arial,sans-serif;	
}

td{
	border-top: 1px solid #B0B3B0;
	border-right: 1px solid #9FBEDF;
	padding-right: 0.5em;
	padding-left: 0.5em;
	vertical-align: top;
}
.evenrow {
	background-color: #ECF1F6;
}

.oddrow {
	background-color: #fff;
}

.title {
	color: #4A4D4A;
	font-family: verdana,arial,sans-serif;
	font-size: 1.4em;

}
