<h2>Add Volunteer</h2>

<%= start_form_tag :action => 'create' %>
  <%= render_partial 'form' %>
  <%= submit_tag "Add & Check-in" %>
<%= end_form_tag %>

<%= link_to 'Volunteer List', {:action => 'list'}, :class => 'textbutton'  %>
