<% for column in Volunteer.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @volunteer.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @volunteer %> |
<%= link_to 'Back', :action => 'list' %>
