<h2><%=h @organization.name -%>: department: <%=h @department.name %></h2>
<% for column in Department.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @department.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @department %> |
<%= link_to 'Back', :action => 'list', :id => session[:last_organization] %>
