<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Rackspace Information Center</title>
</head>

<body>

<p align="center"><font face="Arial Black">Rackspace Information Center</font>
</p>
<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#C0C0C0" width="100%" id="AutoNumber1">
  <tr>
    <td width="58%">&nbsp;</td>
    <td width="42%">&nbsp;</td>
  </tr>
  <tr>
    <td width="58%"><font face="Arial">
<a href="documents/FAQs.doc">FAQ List</a><br>
&nbsp;</font></td>
    <td width="42%"><b><font face="Arial">Search Tools</font></b></td>

  </tr>
  <tr>
    <td width="58%"><font face="Arial"><a href="documents/Call%20Log.xls">Call Log</a> (People 
who called here looking for other people)<br>
&nbsp;</font></td>
    <td width="42%"><font face="Arial">
    <a href="http://www.familylinks.icrc.org/katrina/locate">ICRC</a></font></td>
  </tr>

  <tr>
    <td width="58%"><font face="Arial"><a href="documents/Checked%20Out%20Form.doc">Checked Out 
Form</a><br>
&nbsp;</font></td>
    <td width="42%"><font face="Arial"><a href="http://www.katrinasafe.com/">
    Katrina Safe</a></font></td>
  </tr>
  <tr>
    <td width="58%"><font face="Arial"><a href="documents/Missing%20Persons.doc">Missing Persons 
Phone numbers</a> (Kelly USA)<br>

&nbsp;</font></td>
    <td width="42%"><font face="Arial">
    <a href="http://wx.gulfcoastnews.com/katrina/status.aspx">Katrina Survivor 
    List</a></font></td>
  </tr>
  <tr>
    <td width="58%"><font face="Arial"><a href="documents/Page%20Request%20Form.doc">Page Request 
Form</a><br>
&nbsp;</font></td>
    <td width="42%"><font face="Arial">
    <a href="http://www.familylinks.icrc.org/katrina/locate">Locate your 
    relatives</a></font></td>

  </tr>
  <tr>
    <td width="58%"><font face="Arial"><a href="documents/Volunteer%20Needs.doc">Volunteer Needs</a><br>
&nbsp;</font></td>
    <td width="42%"><font face="Arial">
    <a href="/">Windsor Park Check-in</a></font></td>
  </tr>
</table>
<p><font face="Arial">Windsor Park Information Center</font></p>

<p><font face="Arial">210-653-4783</font></p>
<p>&nbsp;</p>
<p><img border="0" src="/images/rs_logo.gif" width="133" height="51"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</body>

</html>
