
<!--[form:injury_report]-->
<%= hidden_field ('injury_report','person_id') %>
<table>
<tr>
	<th class="vertical">Referred to nurse?</th>
	<td><select id="injury_report_referred_to_nurse" name="injury_report[referred_to_nurse]">
		<option value="false" selected>No</option>
		<option value="true">Yes</option>
		</select></td>
</tr>
<tr>
	<th class="vertical">Notes</th>
	<td><%= text_area 'injury_report', 'report'  %></td>
</tr>
</table>

<!--[eoform:injury_report]-->

