<h2>New Injury Report</h2>

<%= start_form_tag :action => 'create' %>
  <%= render_partial 'form' %>
  <%= submit_tag "Save" %>
<%= end_form_tag %>

<%= link_to 'Injury Report List', {:action => 'list'}, :class => 'textbutton'  %>
