<% # This file is part of the SafeList shelter management software. -%>
<% # Copyright 2005, Rackspace Managed Hosting -%>
<% for column in OrganizationMember.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @organization_members.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @organization_members %> |
<%= link_to 'Back', :action => 'list' %>
