<h1>Editing address</h1>

<%= start_form_tag :action => 'update', :id => @address %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @address %> |
<%= link_to 'Back', :action => 'list' %>
