<% for column in Ethnicity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ethnicity.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ethnicity %> |
<%= link_to 'Back', :action => 'list' %>
