<% # This file is part of the SafeList shelter management software. -%>
<% # Copyright 2005, Rackspace Managed Hosting -%>
<h1>New organization</h1>

<%= start_form_tag :action => 'create' %>
  <%= render_partial 'form' %>
  <%= render_partial 'address' %>
  <select name="organization[organization_type_id]">
  <%= options_from_collection_for_select(@organization_types, "id", "name") %>
  </select>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
