<html>
<head>
  <title>SA Safe List Portal: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'robotRepair' %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

<% if flash[:notice] %>
<div class="confirm"><%= flash[:notice] %></div>
<% end %>
<% if flash[:warning] %>
<div class="note"><%= flash[:warning] %></div>
<% end %>
<% if flash[:error] %>
<div class="errormsg"><%= flash[:error] %></div>
<% end %>

<%= @content_for_layout %>
<br>
<br>
</body>
</html>
